.container {
max-width:600px;
background-color: #f4ffe4;
margin:100px auto;
font-family: 'Oxygen', sans-serif;
padding:15px;
border-radius: 40px;
}

body{
background-color:rgb(126, 51, 126);
}
.questioncontainer input {
    /*display:none; */
}

.questioncontainer input:checked + label {
    background-color: rgb(148, 230, 155);
}

.questioncontainer div {
   display:flex;
    
}

.questioncontainer label{
    margin:3px;
    border-radius: 0.25em;
    padding: 0.5em;
}

label:hover {
    background-color: rgb(211, 251, 211);
    cursor:pointer
}

h1 {    text-align: center;
    border-bottom: solid 7px #55b355;
}

.nametextbox {
    margin-right:40px;
}

.plumbob {
    width: 190px;
    position: fixed;
    transform: translate(-204px,-45px);
}

.plumbob2 {
        width: 190px;
        position: fixed;
        transform: translate(608px,-38px);
}

.submitbutton{
        margin: 20px auto;
        display: block;
        background-color: green;
        border: none;
        color: white;
        font-size: x-large;
        padding: 20px 40px;
        border-radius: 38px;
        cursor: pointer;
    }

.submitbutton:hover {
    background-color: rgb(46, 172, 46);
}

.submitbutton:active {
    background-color: rgb(89, 212, 89);
}
    .results{
        display:none
    }

h2{
    margin-bottom: 9px;
    margin-top: 46px;
    font-size: 20px;
    border-bottom: solid 5px #55b355;
    padding: 12px;
    background: #55b355;
    margin-left: -15px;
    margin-right: -15px;
    color: white;
}
.traitimage{
    float:left
}
.results div{
    clear:both;
    padding:10px;
}

.extratrait{
    width:45px;
    vertical-align:middle;

}
.download-link div {
    width: 250px;
    position: fixed;
    top: 450px;
    transform: translateX(650px);
    text-align: center;
}

.downloadbutton {
    background-color: rgb(170, 225, 175);
    padding: 15px;
    border-radius: 30px;
    font-size: x-large;
    font-family: 'Oxygen', sans-serif;
    
    margin: 0.25em;
}
.download-link p.downloadbutton a {color: purple;}


.download-link {
    max-width: 600px;
    margin: 100px auto;
    padding: 15px;
    position: relative;
}

.download-link p a{
    text-decoration: none;
    color:rgb(205, 235, 160);
}

.downloadicon {
    color:rgb(205, 235, 160);
}