.container {
max-width:600px;
background-color:greenyellow;
margin:100px auto;
font-family: 'Oxygen', sans-serif;
padding:15px;
border-radius: 40px;
}

body{
background-color:rgb(126, 51, 126);
}
.questioncontainer input {
    /*display:none; */
}

.questioncontainer input:checked + label {
background-color:rgb(22, 126, 31);
}

.questioncontainer div {
   display:flex;
    
}

.questioncontainer label{
    margin:3px;
}

label:hover {
    background-color: rgb(87, 182, 87);
    cursor:pointer
}

h1 {    text-align: center;
}

.nametextbox {
    margin-right:40px;
}

.plumbob {
    width: 190px;
    position: fixed;
    transform: translate(-204px,-45px);
}

.plumbob2 {
        width: 190px;
        position: fixed;
        transform: translate(608px,-38px);
}

.submitbutton{
        margin: 20px auto;
        display: block;
        background-color: green;
        border-color: green;
        color: lightgreen;
        font-size: x-large;
        padding: 4px 25px;
        border-radius: 38px;
        cursor: pointer;
    }

    .results{
        display:none
    }

h2{
    margin-bottom:0;
    margin-top:30px;
    font-size:20px;
}
.traitimage{
    float:left
}
.results div{
    clear:both;
    padding:10px;
}

.extratrait{
    width:45px;
    vertical-align:middle;

}
.download-link p {
    width: 200px;
    position: fixed;
    background-color: rgb(170, 225, 175);
    top: 450px;
    transform: translateX(650px);
    padding: 15px;
    border-radius: 30px;
    font-size: x-large;
    font-family: 'Oxygen', sans-serif;
    color: purple;

}

.download-link {
    max-width: 600px;
    margin: 100px auto;
    padding: 15px;
    position: relative;
}

.download-link p a{
    text-decoration: none;
}